.product-card {
   background: #FFFFFF;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
   display: flex;

   //TODO: Delete margins
   margin: 20px 24px;

   &__image {
      margin: 22px 40px  23px 20px;  
   }

   &__info {
      flex-grow: 1;
      margin: 25px 0;
   }

   &__close-button {
      margin-left: 20px;
      cursor: pointer;
      border: none;
      color: #c9c9c9;
      background: #f9f9f9;
      padding: 11px;
      font-family: inherit;
   }

   &:hover {
      background: #f0f0f0;
      transition: all .3s ease;
   }

   @media screen and (max-width: 768px) {
      margin-left: 0;
   }

   &__main-info {
      display: flex;
      justify-content: space-between;
   }
}