@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
   font-family: Roboto, Arial, sans-serif;
   color: $base-font-color;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
}
